
/* styles_Songs.css */



/* -r */

body {
  font-family:Calibri, Arial, sans-serif;
  margin: 50px;
}

h1 {
  font-family:Calibri, Arial, sans-serif;
  padding-left: 20px;
  font-size: 90px;
}

button {
  font-family:Calibri, Arial, sans-serif;
  font-size: 50px;
  height: 200px;
  width: 800px;
  border-radius: 50px;
}

#button2 {
  font-family:Calibri, Arial, sans-serif;
  border: none;
  width: 400px;
  border-radius: 50px;
  height: 100px;
}


/* Songs */

label {
  font-family:Calibri, Arial, sans-serif;
  font-size: 50px;
}

#googleDoc {
  width: 110%;
  height: calc(100%+300px);
  margin-top: -150px;
  margin-left: -80px;
  margin-right: -100px;
  border: 10px;
  transform: scale(1);
  transform-origin: left;
}

#googleDocContainer {
  width: 80%;
  height: 100%;
  overflow: hidden;
}





/* Singing with Grace */



.dropdown-content1 {
  font-family:Calibri;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 800px;
  height: 800px;
  overflow-y: auto;
  overflow-x: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 {
  font-family:Calibri;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 800px;
  height: 800px;
  overflow-y: auto;
  overflow-x: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content1 input[type="text"] {
  font-size: 50px;
  width: 750px;
  height: 100px;
}

.dropdown-content2 input[type="text"] {
  font-size: 50px;
  width: 750px;
  height: 100px;
}

.dropdown-content1 a {
  font-family:Calibri, Arial, sans-serif;
  font-size: 50px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-content2 a {
  font-family:Calibri, Arial, sans-serif;
  font-size: 50px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button.dropbtnSearch {
  font-size: 50px;
  height: 200px;
  width: 800px;
}

button.dropbtn검색 {
  font-size: 50px;
  height: 200px;
  width: 800px;
}

b {
  font-weight: bold;
}

